/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #fff;
	color: #777;
	margin:8px;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

h1 {
	height: 50px;
	margin-left:45px;
	width:300px;
        background : url('../img/cubix.png') no-repeat;
}

h2 {
	font-weight: 300;
	color: #FFF;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
}
#image h3 {
	font-size:24px;
	height:366px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	padding-right:31px;
	padding-left:31px;
	margin:0px;
}
h4 {
	font-size: 24px;
	height:26px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 50px;
	margin:0px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

#menu a:hover {
	color: #02b8dd;
	}	

#footer-2 a:hover {
	color: #02b8dd;
	}

strong {
	font-weight: bold;
}

.clear {
	clear:both;
	}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width: 960px;
}
#header {
	height: 86px;
	line-height: 86px;
	background-color:#FFF;
	//position:fixed;
	//top:0;
	//box-shadow: 0 10px 110px -40px rgba(0,0,0,0.5);
}

//#header:after {
//	content: '';
//	display:block;
//	width:80%;
//	height:8px;
//	box-shadow: 0 2px 90px rgba(0,0,0,0.50);
//	position:absolute;
//	bottom: 0;
//	left: 10%;
//	z-index: -1;
//	}

#menu {
	float: left;
	text-align: right;
	width:562px;
	padding-right: 31px;
}

#menu ul{
	margin: 0px;
	padding: 0px;
	}
#menu li{
	display: inline;
}

#menu a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration:none;
	padding: 5px;
}
#contact {
	height:466px;
	width:960px;
	//padding-right:31px;
	//padding-left:31px;
	text-align:center;
	}
#contact p {
	width:320px;
	padding:0px 320px;
	padding-top: 60px;
	padding-bottom: 10px;
	font-weight: bold;
	margin:0px;
	color #807e7e;
	}
#form-1 {
	padding-top:10px;
	}

#description input{
	height:100px;
	}
#submit input{
	width: 120px;
	height: 40px;
	color: #31a6ff;
	font-weight:100;
	font-size: 20px;
	background-color: #fff;
	border-radius: 50px;
	border: solid 1px #31a6ff;
	padding:8px;
	transition-duration:200ms;
	}
#submit input:hover {
	background-color: #31a6ff;
	color:#fff;
	}
input {
	height: 30px;
	width: 320px;
	padding-left:15px;
	font-size: 15px;
	margin-bottom:14px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 1px 2px 7px rgba(0,0,0,0.1)
	}
#content {
	height:auto;
	width:960px;
	overflow:hidden;
	//padding-top: 86px;
}

#content h4{
	width:454px;
	padding:0px;
	padding-left: 24px;
	padding-right: 24px;
	font-size:30px;
	height: 36px;
	text-align: center;
	}
#main_content{
	width: 545px;
	padding-left: 24px;
	padding-right: 24px;
	float:left;
	font-size: 19px;
	line-height: 28px;
	}
#main_content p{
	color:#444;
	font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 19px;
	line-height:28px;
	}

#sidebar {
	width: 367px;
	float:left;
	}
.tab{
}
#tab-1{
	width:287px;
	height:280px;
	padding-left:80px;
	}
#tab-2 {
	width:287px;
	height:280px;
	padding-left:80px;
	}
#tab-3 {
	width:287px;
	height:280px;
	padding-left:80px;
	}
#tab-4 {
	width:287px;
	height:280px;
	padding-left:80px;
	}
#tab-5 {
	width:287px;
	height:280px;
	padding-left:80px;
	}
#tab-1 .tab{
	height:200px;
	width:200px;
	margin-top:80.5px;
	margin-bottom:80.5px;
	//box-shadow: 0px 20px 40px -20px;
	//background-color: #ccc;
	//border-radius:15px;
	background: url('../img/Mail3.png')no-repeat center;
	background-color: #ccc;
	border-radius: 15px;
	box-shadow: 0px 20px 40px -20px;

	}
#tab-2 .tab{
	height:200px;
	width:200px;
	margin-top:100.5px;
	margin-bottom:80.5px;
	//box-shadow: 0px 20px 40px -20px;
	//background-color: #ccc;
	//border-radius:5px;
	background: url('../img/Gift.png')no-repeat center;
	background-color: #e88076;
	border-radius: 15px;
	box-shadow: 0px 20px 40px -20px;
	}
#tab-3 .tab{
        height:200px;
	width:200px;
	margin-top:100.5px;
	margin-bottom:80.5px;
	//box-shadow: 0px 20px 40px -20px;
	//background-color: #ccc;
	//border-radius:5px;
	background: url('../img/Shopping.png')no-repeat center;
	background-color: #f9dd6c;
	border-radius: 15px;
	box-shadow: 0px 20px 40px -20px;
	}
#tab-4 .tab{
	height:200px;
	width:200px;
	margin-top:100.5px;
	margin-bottom:80.5px;
	//box-shadow: 0px 20px 40px -20px;
	//background-color: #ccc;
	//border-radius:5px;
	background: url('../img/Map.png')no-repeat center;
	background-color: #61a2ce;
	border-radius: 15px;
	box-shadow: 0px 20px 40px -20px;
	}
#tab-5 .tab{	
	height:200px;
	width:200px;
	margin-top:100.5px;
	margin-bottom:80.5px;
	//box-shadow: 0px 20px 40px -20px;
	//background-color: #ccc;
	//border-radius:5px;
	background: url('../img/Settings.png')no-repeat center;
	background-color: #ced4d8;
	border-radius: 15px;
	box-shadow: 0px 20px 40px -20px;
	}
#logo{
	width: 367px;
	float: left;
	height:86px;
	//overflow:hidden;
	}
#logo a {
	width:86px;
	height:86px;
	}

	
#img {
	height: 86px;
	width: 86px;
	background: url('../img/cubix.png')no-repeat center;
	position:relative;
	//overflow:hidden;
	}
figcaption {
	font-size:22px;
	color: #444;
	position:absolute;
	text-transform: uppercase;
	font-weight:bold;
	text-decoration: none;
	left:17px;
	top:2px;
	transition: all 200ms ease-out;
	color:transparent;
	}
#img:hover figcaption {
	left:87px;
	color:#02b8dd;
}

#image {
	overflow:hidden;
	width:960px;
	height:366px;
//	padding-left: 31px;
//	padding-right: 31px;
	line-height: 366px;
	background: #e8eced;
	background:url('../img/slide-3.jpe') no-repeat center;
//	position:relative;
	}
img {
//	position:relative;
//	padding-right:31px;
//	padding-left:31px;
	}
/* #image figure div{
	width:20%;
	height:366px;
	float:left;
	//padding-left: 31px;
	//padding-right: 31px;
	}
#image figure img{
	width:960px;
	float:left;
	height:366px;
	}
#image figure {
	position:relative;
	width: 4800px;
	height:366px;
	margin:0px;
	left:0px;
	animation: 60s slidy infinite;
	}

@keyframes slidy{
	0%{
		left:0%;
		}	
	10%{
		left:0%;
		}
	12%{
		left:-100%;
		}
	22%{
		left:-100%;
		}
	24%{
		left: -200%;
		}
	34%{
		left: -200%;
		}
	36%{
		left: -300%;
		}
	46%{
		left: -300%;
		}
	48%{
		left: -400%;
		}
	58%{
		left: -400%;
		}
	60%{
		left: -300%;
		}
	70%{
		left: -300%;
		}
	72%{
		left: -200%;
		}
	82%{
		left: -200%;
		}
	84%{
		left: -100%;
		}
	94%{
		left: -100%;
		}
	96%{
		left:0%;
		}
	100%{
		left:0%;
		}
}
*/
#features {
	perspective:700px;
	height: 100px;
}

#feature-1 {
	position:relative;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	width: 240px;
	height: 90px;
	float: left;
	text-align: center;
	margin-top: 10px;
	}
#front-1 {
	backface-visibility:hidden;
	position:absolute;
	width:240px;
	height: 90px;
	pointer-events:none;
	background: url('../img/design-color_compass.png') no-repeat top center;
}

#back-1 p{
	color:#444;
	margin-bottom: 15px;
	}
#back-1 a{
	text-decoration:none;
	color:#444;
	}
#back-1 {
	backface-visibility:hidden;
	position:absolute;
	padding-right:31px;
	padding-left:31px;
	transform:rotateY(180deg);
	
	}
#feature-1:hover,#back-1{
	transform:rotateY(180deg);
	}
#feature-2 {
	position:relative;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	width: 240px;
	height: 90px;
	float: left;
	text-align: center;
	margin-top: 10px;
	}
#front-2 {
	backface-visibility:hidden;
	position:absolute;
	width:240px;
	height:90px;
	background: url('../img/design-color_magnet.png') no-repeat top center;
}
#back-2 p {
	color:#444;
	margin-bottom: 15px;
	}
#back-2 a {
	color:#444;
	text-decoration:none;
	}
#back-2 {
	backface-visibility:hidden;
	position:absolute;
	padding-right:31px;
	padding-left:31px;
	transform:rotateY(180deg);
	}
#feature-2:hover{
	transform:rotateY(180deg);
	}

#feature-3 {
	position: relative;
        transition: all 0.6s ease;
	transform-style: preserve-3d;
	width: 240px;
	float: left;
	height:90px;
	text-align: center;
	margin-top: 10px;
	}
#front-3 {
	backface-visibility: hidden;
	position: absolute;
        width: 240px;
	height: 90px;
	background: url('../img/design-color_mobile-design.png') no-repeat top center;
}

#back-3 p {
	color: #444;
	margin-bottom: 15px;
	}
#back-3 a{
	color: #444;
	text-decoration:none;
	}
#back-3 {
	backface-visibility:hidden;
	position:absolute;
	padding-right:31px;
	padding-left:31px;
	transform:rotateY(180deg);
	}
#feature-3:hover{
	transform:rotateY(180deg);
	}
#feature-4 {
	width: 240px;
	float: left;
	height:90px;
	text-align: center;
	margin-top: 10px;
	}
#COA {
	padding-right:31px;
	padding-left:31px;
	margin-top:20px;
	height: 70px;
	}
.button {
	display:block;
	width:140px;
	color: #31a6ff;
	//border: 1px solid #31a6ff;
	border-radius: 50px;
	margin-right:19px;
	margin-left:19px;
	height: 42px;
	transition-duration: 200ms
	}
.text {
	display: block;
	width: 100%;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	}
#COA h5 {
	font-size:20px;
	margin:0px;
	line-height: 2.0;
	color:#31a6ff;
	border-radius:50px;
	background-color:#fff;
	border: 1px solid #31a6ff;
	transition-duration: 200ms;
	}
#COA a {
	text-decoration:none;
	}
#COA h5:hover {
	background-color:#31a6ff;
	color:#fff
	}
//.button:hover {
//	background-color:#31a6ff;
//	}
#footer {
	height:41px;
	background-color: #e8eced;
	clear:both;
}

#footer-1 {
	height: 41px;
	width: 367px;
	float: left;
}

#footer-1 p{
	padding-left:31px;
	line-height: 3;
	height:40px;
	margin:0px;
	}	

#footer-2 {
	line-height: 3;
	float: left;
	text-align: right;
	width: 562px;
	padding-right: 31px;
	}
#footer-2 ul{
	margin: 0px;
	padding: 0px;
	}
#footer-2 li{
	display:inline;
	}
#footer h5{
	font-size: 15px;
	color: #444;
        font-weight: bold;
	text-transform: uppercase;
	display: inline;
	padding: 10px;
	}
#footer-2 a{
	color:#777;
	padding: 2px;
	text-decoration:none;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
